@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-tierra: #C8672A;
  --color-bosque: #3A6B35;
  --color-musgo: #2C4A28;
  --color-niebla: #F2F0EB;
  --color-corteza: #7A5C3A;
  --color-cielo: #D4EAF7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-display: var(--font-bebas);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-niebla: #F2F0EB;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
